.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #39A7F5;
  color: #fff;
}

.navbar-brand {
  font-size: 20px;
  margin-left: 10px;
}

.navbar-links {
  display: flex;
  align-items: center;
}

.navbar-links a {
  margin: 10px;
  text-decoration: none;
  color: #fff;
}

.navbar-links a:hover {
  color: #ddd;
}

.navbar-toggle-button {
  margin-right: 10px;
  cursor: pointer;
}

.navbar-toggle-button i {
  font-size: 20px;
}

/* Barre latérale */

.sidebar-left {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  background-color:#39A7F5;
  color:#fff;
  z-index: 100;
  bottom: 250px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.sidebar-header {
  padding: 10px;
  background-color:#39A7F5;
  color: #fff;
}

.sidebar-header a {
  font-size: 20px;
  color: #fff;
  font-size:large;
  

}

.sidebar-links {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.sidebar-links a {
  padding: 10px;
  text-decoration: none;
  color:white;
}

.sidebar-links a:hover {
  background-color: #ddd;
}

/* Médias queries */

@media (max-width: 768px) {
  .sidebar {
    display: none;
  }

  .navbar-toggle-button {
    display: block;
  }
}

@media (min-width: 768px) {
  .sidebar {
    display: block;
  }

  .navbar-toggle-button {
    display: none;
  }
}
