.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #39A7F5;
  color: #fff;
}

.navbar-brand {
  font-size: 20px;
  margin-left: 40px;
  color: #fff;
  margin-top: 0px;

  display: flex;
  align-items:left;
  justify-content: left;
  font-size: 20px;
  font-weight: bold;

}

.navbar-links {
  display: flex;
  align-items: center;
  
}

.navbar-links a {
  margin: 10px;
  text-decoration: none;
  color: #fff;
}

.navbar-links a:hover {
  color: #ddd;
}

.navbar-toggle-button {
  margin-right: 10px;
  cursor: pointer;
}

.navbar-toggle-button i {
  font-size: 20px;
}

/* Barre latérale */

.sidebar-left {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  background-color:#39A7F5;
  color:#fff;
  z-index: 100;
  bottom: 250px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  margin-top: 60px;
  transition: width 0.5s; 
  overflow: hidden;

}

.sidebar-header {
  padding: 10px;
  background-color:#39A7F5;
  color: #fff;
}

.sidebar-header a {
  font-size: 20px;
  color: #fff;
  font-size:large;
  

}

.sidebar-links {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
 
}

.sidebar-links a {
  padding: 10px;
  text-decoration: none;
  color:white;
}

.sidebar-links a:hover {
  background-color: #ddd;
}
.collapsed {
  width: 50px; 
}
.collapse-btn {
  position: absolute;
  top: 10px; 
  right: -30px; 
  cursor: pointer;
  bottom: 10px; 
  left: 50%; 
  transform: translateX(-50%);
  background: transparent; 
  border: none; 
  cursor: pointer;
  padding: 10px; 
  display: flex; 
  justify-content: center; 
  align-items: center;
 margin-bottom: 60px;

}
.btn{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    width: 250px;
    height: 50px;
   background-color: black;
  
  bottom: 100px;


  
}
.icon {
  font-size: 20px; 
  color: red; 
  position: absolute; 
  right: -30px; 
  cursor: pointer;
  bottom: 10px; 
  left: 50%; 
  transform: translateX(-50%);
  background: transparent; 
  border: none; 
  cursor: pointer;
  padding: 10px; 
  display: flex; 
  justify-content: center; 
  align-items: center;

  
}

@media (max-width: 768px) {
  .sidebar {
    display: none;
  }

  .navbar-toggle-button {
    display: block;
  }
}

@media (min-width: 768px) {
  .sidebar {
    display: block;
  }

  .navbar-toggle-button {
    display: none;
  }
}




