

.gestion {
  text-align: center;
  width: 60px;

}
.gestion_header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}
.custom-table {
  width: 500px; /* ou une valeur spécifique en pixels, par exemple 500px */
}
