button{
    width: 120px;
    height: 40px;
    border-radius: 8px;
    background-color: #3987ee;
    color: white;
    font-size: 16px;
    border: none;
    text-align: center;
    cursor: pointer;
   margin-top: 20px;
}
.custom-select-width {
    width: 210px; 
  }
  
.btn-success{
  width: 60px;
}